<h2>Signup</h2>
<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="username">Username:</label>
    <input id="username" formControlName="username" />
    <div
      *ngIf="signupForm.get('username')?.invalid && signupForm.get('username')?.touched"
    >
      Username is required.
    </div>
  </div>

  <div>
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email" />
    <div
      *ngIf="signupForm?.get('email')?.invalid && signupForm?.get('email')?.touched"
    >
      A valid email is required.
    </div>
  </div>
 
  <div>
    <label for="password">Password:</label>
    <input id="password" type="password" formControlName="password" />
    <div
      *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched"
    >
      Password is required.
    </div>
  </div>

  <button type="submit" [disabled]="signupForm.invalid">Signup</button>
</form>
